.gridContainer {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    place-content: center;
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.gridItem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorFondo2;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    a {
        color: #fff;
    }
}

.item1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/img/item1.jpg) no-repeat;
    @include estilo-items;
    &:hover {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../assets/img/item1.jpg) no-repeat;
        @include item-hover;
    }
}
.item2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/img/item3.jpg) no-repeat;
    @include estilo-items;
    &:hover {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../assets/img/item3.jpg) no-repeat;
        @include item-hover;
    }
}

.suscriberContainer{
    background-color: $colorFondo2;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    .programasBtn{
        @include boton-blanco;
      }

    .suscriberImg{
        width: 50%;
        background: url(../assets/img/c.jpg) no-repeat center;
        background-size: cover;
    }
    .suscriber{
        width: 50%;
        padding: 200px 8%;
        p{
            margin-bottom: 40px;
            font-size: 14px;
            color: #fff;
        }
     }
     h2 {
        margin-bottom: 20px;
        color: #f1f1f1;
        font-weight: 900;
    }
     .suscriberForm{
        height: 68px;
        background-color: #f1f1f1;
        border-radius: 3px;
        display: flex;
        padding: 8px 0;
        .emailInput,.sFormBtn{
            background: none;
            border: none;
            font-size: 15px;
            outline: none;
            transition: .2s linear;
        }
        .emailInput{
            width: calc(100% - 120px);
            padding: 20px;
            color: $colorDetalles;
            &::placeholder{
                color: $colorDetalles;
            }
            &:focus{
                padding-left: 30px;
            }
        }
        .sFormBtn{
            width: 120px;
            text-transform: uppercase;
            color: $colorDetalles;
            cursor: pointer;
            border-left: 1px solid $colorDetalles;
            font-weight: bold;
        }
    }
}
.videoContainer{
    width: 50%;
    video {
        object-fit: cover;
        width: 100%;
        height: auto;
        min-width: 100%;
        min-height: 100%;
      }
  }
